@import "src/styles/main";

.projects {
  background: $secondary-dark-color;
  padding: 0 20px 40px;

  &__title {
      p {
        padding-bottom: 20px;
        color: $white-color;
        text-align: center;

        &:first-child {
          font-size: 32px;
          font-weight: 700;
        }

        &:last-child {
          font-size: 16px;
        }
      }
  }

  &__carousel {
    @include flex($justify: space-around);
    flex-wrap: wrap;
  }
}