@import "src/styles/main";

.footer {
  padding: 80px 0;
  background: $dark-color;

  &__footer-section {
    @include flex($justify: center);
    color: $white-color;
    font-size: 14px;
    margin-bottom: 20px;
  }

  &__section-wrapper {
    padding: 0 20px;

    div {
      margin-bottom: 10px;
    }
  }

  &__quote {
    text-align: center;

    p:first-child {
      font-style: italic;
      font-size: 19px;
      margin-bottom: 10px;
    }
  }

  &__icons {
    @include flex($justify: center);
    list-style: none;

    li {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      @include flex($justify: center);
      color: $white-color;
      background: $dark-color;
      margin: 0 10px;
      transition: all 0.5s linear;
      cursor: pointer;

      &:hover {
        background: $primary-red-color;
      }
    }

  }
}