@import "src/styles/main";

.skills {
  background: $secondary-dark-color;
  padding: 100px 0;
  color: $white-color;

  &__cards {
    @include flex;
    flex-wrap: wrap;
  }

  &__wrapper-box {
    width: 100%;
    @include breakpoint(md) {
      width: 50%
    }

    @include breakpoint(lg) {
      width: 33%
    }
  }

  &__box {
    padding: 40px;
    background: $dark-color;
    color: $white-color;
    margin: 20px;
    transition: all 0.5s linear;

    &:hover {
      background: $primary-red-color;

      .commonIcons {
        color: $white-color;
      }
    }
  }

  &__box-header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__box-p {
    font-size: 14px;
    color: $secondary-white-color;
  }

  &__common {
    margin: 20px auto;
    text-align: center;
    padding: 0 10%;

    h1 {
      margin-bottom: 20px;
      font-weight: 500;
      color: $primary-red-color;
      font-size: 16px;
    }

    h3 {
      font-size: 32px;
      margin-bottom: 20px;
      color: $white-color;
    }

    p {
      font-size: 16px;
      color: $secondary-white-color;
    }
  }
}