@import "src/styles/main";

.skills {
  background: #1f2235;
  padding: 100px 0;
  color: #fff;

  &__box {
    padding: 40px;
    background: #23263a;
    color: #fff;
    margin: 20px;
    transition: all 0.5s linear;

    &:hover {
      background: #ff4a57;
    }
  }

  &__box-header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__box-p {
    font-size: 14px;
    color: #dfdfdf;
  }
  &__common {
    width: 33.33333333333333%;
    margin: 20px auto;
    text-align: center;

    h1 {
      margin-bottom: 20px;
      font-weight: 500;
      color: #ff4a57;
      font-size: 16px;
    }

    h3 {
      font-size: 32px;
      margin-bottom: 20px;
      color: #fff;
    }

    p {
      font-size: 16px;
      color: #dfdfdf;
    }
  }
}