@import './variables.scss';

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  outline: none;
  border: none;
  color: $white-color;
  text-decoration: none;
}

.btn-outline {
  display: block;
  border: 2px solid $primary-red-color;
  border-radius: 50px;
  padding: 13px 40px;
  text-align: center;

  &:hover {
    cursor: pointer;
    background: $primary-red-color;
    transition: all 0.5s linear;
  }
}

.commonIcons {
  font-size: 40px;
  color: $primary-red-color;
  margin-bottom: 15px;

  &:hover {
    color: $white-color;
  }
}
