@mixin flex($align: center, $justify: flex-start){
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin fontStyle($fontSize: 12px, $color: #FFF, $lineHeight: 20px, $fontWeight: 500, $fontStyle: normal) {
  font-size: $fontSize;
  color: $color;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  font-style: $fontStyle;
}

@mixin breakpoint($point) {
  @if $point == sm {
    @media (min-width: 480px) {
      @content;
    }
  } @else if $point == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == lg {
    @media (min-width: 1025px) {
      @content;
    }
  } @else if $point == xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
}
