@import "src/styles/main";

.about {
  width: 100%;
  background: $dark-color;
  padding: 100px 10%;

  &__info {
    color: $white-color;

    h1 {
      margin-bottom: 30px;
    }
  }

  &__info-p1, &__info-p2 {
    font-size: 18px;
    margin-bottom: 20px;
  }

  &__contacts {
    margin-top: 20px;

    p {
      margin-top: 3px;
    }

    strong {
      color: $primary-red-color
    }
  }
}