@import "src/styles/main";

.banner {
  width: 100%;
  background: $secondary-dark-color;
  padding-top: 150px;

  &__wrapper {
    @include flex($justify: center);
    flex-direction: column;
    padding: 0 40px;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 50%;
      margin-bottom: 30px;
    }

    @include breakpoint($md) {
      flex-direction: row;

      img {
        width: 40%;
        margin-left: 40px;
      }
    }
  }

  &__content {
    @include flex;
    color: $white-color;
    margin-bottom: 50px;

    @include breakpoint($md) {
      margin-bottom: 0;
    }
  }

  &__ul {
    list-style-type: none;
    @include flex;
    margin-bottom: 20px;

    li a {
      @include flex($justify: center);
      width: 50px;
      height: 50px;
      border: 2px solid $primary-red-color;
      border-radius: 50%;
      margin: 0 10px;
      transition: all 0.5s linear;
      cursor: pointer;
      color: $white-color;

      &:hover,  {
        background: $primary-red-color;
        border: 2px solid transparent;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__section {
    h1 {
      @include fontStyle(50px, $white-color, 40px, 700,normal);
      margin-bottom: 20px;
    }

    span {
      @include fontStyle(25px, $white-color, 40px, 500, normal);
      margin-bottom: 50px;
    }
  }
}