@import "src/styles/main";

.navbar {
  width: 100%;
  height: 100px;
  position: fixed;
  background: $secondary-dark-color;
  top: 0;
  z-index: 1;
  box-shadow: 0 5px 20px $black-color;


  &__container {
    @include flex($justify: space-between);
    height: 100px;
    transition: .3s ease;
    ul {
      display: none;
    }
    li a {
      text-decoration: none;
      color: $white-color;
      font-weight: 500;
      font-size: 18px;
      padding: 0 15px;
    }

    &--desktop{
      padding: 0 20px;
      ul {
        list-style-type: none;
        @include flex;
        display: flex;
      }
    }

    &--mobile {
      width: 100%;
      height: 100vh;
      background: $secondary-dark-color;

      ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
      }
      li {
        padding: 40px 0;
      }
    }
  }
}

.burger {
  @include flex($justify: center);
  position: fixed;
  top: 20px;
  left: 25px;
  color: $white-color;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}